.calendar-grid {
  display: grid;
  grid-template-columns: 80px repeat(7, 1fr);
  grid-auto-rows: 60px;
  border: 1px solid #ccc;

  position: relative;     /* ✅ REQUIRED */
  overflow: visible;      /* ✅ REQUIRED */

  padding-top: 85px;
}

.day-header {
  text-align: center;
  font-weight: bold;
  background: #f3f3f3;
  border-bottom: 1px solid #ccc;
  margin-top: 35px;
}

.time-label {
  font-size: 12px;
  padding: 5px;
  border-right: 1px solid #ccc;
}

.cell {
  border: 1px solid #eee;
}

.booking {
  background-color: #1b63e9;
  color: white;
  padding: 6px;
  border-radius: 6px;
  font-size: 12px;
  z-index: 2;
}
